/*
        fxml.css
        Author: Sam Belbeck
        Date: April 6, 2020

        Description:
        css styles to adjust the look of the GUI display for the main window


    Created on : Apr. 4, 2020, 10:33:09 p.m.
    Author     : sbelb

*/

.mainFxmlClass {
    .root {
        -fx-font-family: 'Courier New';
        -fx-background-color: maroon;
        -fx-text-fill: black;
    }
    .button {
        -fx-background-color: black;
        -fx-background-radius: 20;
        -fx-text-fill: white;
        -fx-border-color: white;
        -fx-border-radius: 20;
    }
    .button:hover {
        -fx-background-color: #DAA520; 
        -fx-text-fill: black;
    }
    .labels {
        -fx-text-fill: white;       
    }
    #lstRoster {
        -fx-border-color: maroon; 
        -fx-border-width: 3;
    } 
}